@import "../../base";

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--container {
    display: flex;
    width: 80%;
    margin-bottom: 4rem;

    @media (max-width: 1200px) {
      flex-direction: column;
      margin-bottom: 2rem;
    }

    &-second {
      @media (max-width: 1200px) {
        flex-direction: column-reverse;
      }
    }
  }

  &--photos {
    flex: 1;
    min-height: 500px;
    width: 100%;

    @media (max-width: 1200px) {
      min-height: 230px;
    }

    &-first {
      margin-right: 2.5rem;

      @media (max-width: 1200px) {
        margin: 0 0 2rem 0;
      }
    }

    &-second {
      margin-left: 2.5rem;

      @media (max-width: 1200px) {
        margin: 0 0 2rem 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-height: 30rem;

    @media (max-width: 1200px) {
      min-height: 20rem;
    }

    &-first {
      margin-left: 2.5rem;

      @media (max-width: 1200px) {
        margin-left: 0rem;
      }
    }

    &-second {
      margin-right: 2.5rem;

      @media (max-width: 1200px) {
        margin-right: 0rem;
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: 200;
      color: $secondary;
      text-align: left;
      padding-bottom: 1.5rem;
    }
  }
}
