@import "../../base";

.header {
  height: 700px;
  width: 100%;
  min-width: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  @media (max-width: 768px) {
    height: 500px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &--title {
    font-family: "Lobster", cursive;
    font-size: 12rem;
    font-weight: 700;

    @media (max-width: 900px) {
      font-size: 21vw;
    }

    @media (max-width: 500px) {
      font-size: 80px;
    }
  }

  &--cta {
    font-size: 2.25rem;

    @media (max-width: 768px) {
      font-size: 4vw;
    }

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  &--layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $overlay;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
  }

  &--carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .carousel {
    height: 100%;

    &__slide {
      height: 700px;
    }

    &__track,
    &__viewport {
      height: 100%;
    }

    &__pagination {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 6;

      &-button {
        background-color: $tertiary !important;
        border-radius: 100%;

        &--active {
          background-color: $white !important;
        }
      }
    }
  }
}
