@import "../../base";

.header {
  height: 700px;
  width: 100%;
  // width: 100vw;
  // background-image: url("./../../assets/images/headers/header-home.jpg");
  // background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  img {
    // width: 100vw;
    height: 100%;
    width: 100%;
    object-fit: cover;
    // background-size: contain;
    // background-position: center center;
    // background-repeat: no-repeat;
  }

  &--title {
    font-family: "Lobster", cursive;
    font-size: 12rem;
    font-weight: 700;
  }

  &--cta {
    font-size: 2.25rem;
  }

  &--layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $overlay;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
  }

  &--carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .carousel {
    height: 100%;

    &__track,
    &__viewport {
      height: 100%;
    }

    &__pagination {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 6;

      &-button {
        background-color: $tertiary !important;
        border-radius: 100%;

        &--active {
          background-color: $white !important;
        }
      }
    }
  }
}
