@import "../../base";

.header {
  height: 700px;
  background-image: url("./../../assets/images/headers/header-home.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &--title {
    font-family: "Lobster", cursive;
    font-size: 12rem;
    font-weight: 700;
  }

  &--cta {
    font-size: 2.25rem;
  }

  &--layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $overlay;
    width: 100%;
    height: 100%;
  }
}
