@import "../../base";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  z-index: 7;
  position: fixed;
  transition: $anim;
  margin: 0 auto;
  max-width: 1920px;

  @media (max-width: 800px) {
    justify-content: space-between;
    text-align: center;
  }

  &--link,
  a {
    text-decoration: none;
    color: $primary;

    @media (max-width: 800px) {
      color: $secondary;
    }
  }

  &--link {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 2px solid $primary;
      transition: $anim;
      transform: translate3d(0, 5px, 0);
    }

    &:hover:after {
      width: 100%;
    }
  }

  &--logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $primary;
    font-size: 0.75rem;

    @media (max-width: 800px) {
      padding-left: 20px;
    }

    img {
      height: 35px;
      width: 35px;
      margin-right: 10px;
      color: white;
      filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(32deg)
        brightness(104%) contrast(103%);
    }

    p {
      font-family: "Lobster", cursive;
      font-size: 1.5rem;
    }
  }

  ul {
    list-style: none;
    display: flex;

    @media (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $white;
      position: absolute;
      width: 100%;
      min-width: 300px;
      height: calc(500px - 5rem);
      min-height: 500px;
      top: -100vh;
      transition: $anim;
      z-index: 1000;
    }

    &.active {
      top: 5rem !important;
    }

    li {
      margin: 0 1rem;
      font-size: 1.2rem;
      font-weight: 700;

      @media (max-width: 800px) {
        font-size: 3rem;
        list-style: none;
        padding: 0.75vh 0rem;
      }
    }
  }

  &--fixed {
    position: fixed;
    background-color: $secondary;
  }

  &--burger {
    display: none;
    cursor: pointer;
    padding-right: 20px;

    @media (max-width: 800px) {
      display: block;
    }

    i {
      font-size: 2rem;
    }
  }
}
