@import "../../base";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  z-index: 6;
  position: fixed;
  transition: $anim;

  &--link,
  a {
    text-decoration: none;
    color: $primary;
  }

  &--link {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 2px solid $primary;
      transition: $anim;
      transform: translate3d(0, 5px, 0);
    }

    &:hover:after {
      width: 100%;
    }
  }

  &--logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $primary;
    font-size: 0.75rem;

    img {
      height: 35px;
      margin-right: 10px;
      color: white;
      filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(32deg)
        brightness(104%) contrast(103%);
    }

    p {
      font-family: "Lobster", cursive;
      font-size: 1.5rem;
    }
  }

  ul {
    list-style: none;
    display: flex;

    li {
      margin: 0 1rem;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  &--fixed {
    position: fixed;
    background-color: $secondary;
  }
}
