@import "../../base";

.our-menu-item {
  display: flex;
  flex-direction: column;
  color: $secondary;
  width: 50%;
  padding-bottom: 4rem;
  border-bottom: 0.4rem $secondary dotted;

  @media (max-width: 1200px) {
    width: 70%;
  }

  @media (max-width: 768px) {
    width: 80%;
  }

  &--photo {
    height: 10rem;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--prices {
    text-align: right;

    p {
      font-size: 2rem;
      font-weight: 700;

      @media (max-width: 450px) {
        font-size: 1.5rem;
      }

      @media (max-width: 330px) {
        font-size: 1.25rem;
      }
    }
  }

  &--names {
    p {
      font-size: 2rem;
      font-weight: 700;

      @media (max-width: 450px) {
        font-size: 1.5rem;
      }

      @media (max-width: 330px) {
        font-size: 1.25rem;
      }
    }
  }

  &--dots {
    color: $secondary;
    opacity: 0.8;
    padding: 4rem 0rem 2rem 0rem;

    i {
      height: 16px;
    }
  }
}
