@import "../../base";

.home {
  display: flex;
  justify-content: space-around;
  min-width: 300px;

  &--container {
    display: flex;
    width: 80%;
    flex-direction: column;
  }

  &--site {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 2rem 0;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
}
