@import "../../base";

.home {
  display: flex;
  background-color: $white;
  justify-content: space-around;
  min-width: 300px;

  &--container {
    display: flex;
    width: 80%;
    flex-direction: column;
  }

  &--site {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 2rem 0;
  }
}

// @media (max-width: 1200px) {
//   .home-site {
//     flex-direction: column;
//     padding: 2rem 0rem 2rem 0rem;
//   }

//   .container:nth-child(1),
//   .container:nth-child(2) {
//     margin: 0rem 0rem 4rem 0rem;
//   }

//   .container:nth-child(3) {
//     margin: 0rem 0rem 0rem 0rem;
//   }

//   .home-cards p {
//     text-align: center;
//     font-size: 0.9rem;
//   }
// }

// @media (max-width: 768px) {
//   .our-coffee h2 {
//     font-size: 2rem;
//     margin-bottom: 0rem;
//     padding: 0rem 1rem;
//   }
// }

// @media (max-width: 500px) {
//   .home-cards {
//     height: 20rem;
//   }

//   .our-coffee h2 {
//     font-size: 2rem;
//     padding: 0rem 1rem;
//   }
// }

// @media (max-width: 400px) {
//   .home-cards h2 {
//     font-size: 2.5rem;
//   }
// }
