@import "./base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Raleway", sans-serif;
  color: $primary;
  background-image: url("./assets/images/bean-bg.png");
  background-color: $white;
}

.h2-main {
  font-family: "Lobster", cursive;
  color: $secondary;
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
}
