* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Raleway", sans-serif;
  color: #f3f4ed;
  background-image: url("./assets/images/bean-bg.png");
  background-color: #ffffff;
}

.h2-main {
  font-family: "Lobster", cursive;
  color: #424642;
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
  line-height: 4rem;
}

#app {
  margin: 0 auto;
  max-width: 1920px;
}

@media (max-width: 600px) {
  .h2-main {
    font-size: 3.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 500px) {
  .h2-main {
    font-size: 3rem;
  }
}
